
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>

  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>
    
    <div id = "portfolio-images">
      <a href="https://thawing-anchorage-92010.herokuapp.com/">Newsletter Signup Page</a>
      <a href="https://young-journey-79689.herokuapp.com/">A Persistent Online To-Do List</a>
    </div>
<%- include("partials/footer"); -%>
