
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>

  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>
    
    <div id = "portfolio-images">
      <h3>My Projects:</h3>
      <ul>
        <li>
          <a href="https://thawing-anchorage-92010.herokuapp.com/" target="_blank">Newsletter Signup Page</a>
          <p>This is a working signup page, which allows you to enter your information which will be saved and kept by me. I will be able to send out email updates to everybody who signs up, all at the same time through the use of this app!</p>
          <p>Made using node.js and Mailchimp.</p>
        </li>
        <li>
          <a href="https://young-journey-79689.herokuapp.com/" target="_blank">A Persistent Online To-Do List</a>
          <p>My To-Do list is connected to a remote database, so that any items added or taken away will persist across multiple viewings. It also has the added functionality to make extra lists, simply by writing "/something" after the app's URL. Some examples include "https://young-journey-79689.herokuapp.com/work", or "https://young-journey-79689.herokuapp.com/groceries". Feel free to mess around with it and create your own list!</p>
          <p>Made using node.js and MongoDB.</p>
        </li>
      </ul>
      
    </div>
<%- include("partials/footer"); -%>
