
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>

  <%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>
    
    <div id = "portfolio-images">
      <h3>My Projects:</h3>
      <ul>
        <li>
          <a href="https://thawing-anchorage-92010.herokuapp.com/" target="_blank">Newsletter Signup Page</a>
          <p>This is a working signup page, which allows you to enter your information which will be saved and kept by me. I will be able to send out email updates to everybody who signs up, all at the same time through the use of this app! Made using node.js and Mailchimp. Made with the help of Angela Yu's 2021 Web Development Boot Camp on Udemy.<a href="https://github.com/MattVanZoeren/Newsletter-Signup" target="_blank">Check out the code!</a></p>
        </li>
        <li>
          <a href="https://young-journey-79689.herokuapp.com/" target="_blank">A Persistent Online To-Do List</a>
          <p>My To-Do list is connected to a remote database, so that any items added or taken away will persist across multiple viewings. It also has the added functionality to make extra lists, simply by writing "/something" after the app's URL. Some examples include "https://young-journey-79689.herokuapp.com/work", or "https://young-journey-79689.herokuapp.com/groceries". Feel free to mess around with it and create your own list! Made using node.js and MongoDB. Made with the help of Angela Yu's 2021 Web Development Boot Camp on Udemy.<a href="https://github.com/MattVanZoeren/To-Do-List" target="_blank">Check out the code!</a></p>
        </li>
        <li>
          <a href="https://calm-reef-38370.herokuapp.com/" target="_blank">A Restaurant Page</a>
          <p>This (fake) restaurant page uses PHP to build functional and dynamic sections of the site. There is a working email signup page, although I decided not to put any actual email to get submitted to, since I already have a newsletter signup page on this portfolio. Made using PHP. Final Project in Brad Hussey's Intro to PHP course on Udemy.<a href="https://github.com/MattVanZoeren/Fake-Restaurant" target="_blank">Check out the code!</a></p>
        </li>
        <li>
          <p>You can also look at the code that went into building this website <a href="https://github.com/MattVanZoeren/Blogsite-Database">here</a>!</p>
        </li>
      </ul>

      <br>

      <h3>Smaller Projects</h3>
      <ul>
        <li>
          <a href="https://mighty-temple-53989.herokuapp.com/" target="_blank">Crystal Collector Game</a>
          <p>A small game using basic javascript. Click the crystal pictures to count up to the given number. <a href="https://github.com/MattVanZoeren/Crystal-Collector" target="_blank">Check out the code!</a></p>
        </li>
      </ul>
        

      
    </div>
<%- include("partials/footer"); -%>
